{% extends '@CrosierLibBase/list.html.twig' %}

{% block campos_pesquisar %}

    <div class="form-group">
        <label for="p_descricao">Nome/Obs</label>
        <input type="text"
               class="form-control" id="filter[str]"
               name="filter[str]"
               value="{{ filter.str|default('') }}">
    </div>

{% endblock %}


{% block down_scripts %}
    <script src="{{ asset('build/coisaList.js') }}"></script>
{% endblock %}
